<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('packages.announcements') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="row">
  <div class="col-sm-9">
    <% if admin? %>
      <div class="col-sm-12 mb-4 text-right">
        <%= link_to t('admin.announcements.new'), new_admin_package_announcement_path(@package), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <% if @announcements.present? %>
      <% @announcements.each do |announcement| %>
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-text">
              <div class="card-title">
                <h4><%= announcement.title %></h4>
              </div>
              <p>
                <%= raw announcement.content %>
                <small class="text-info">
                  <%= t('messages.posted', time: time_ago_in_words(announcement.created_at)) %>
                </small>
              </p>
              <% if admin? %>
                <p>
                  <%= link_to t('actions.edit'), edit_admin_package_announcement_path(@package, announcement),
                              class: 'btn btn-secondary' %>
                  <%= link_to t('actions.delete'), admin_package_announcement_path(@package, announcement),
                              method: :delete, class: 'btn btn-danger',
                              data: { confirm: t('messages.confirm') } %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="float-right">
        <%= will_paginate @announcements, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% else %>
      <div class="alert alert-warning">
        <%= t('messages.no_announcements') %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= link_to 'All', package_announcements_path(@package, tag: nil, page: params[:page]), class: "badge no-link #{ params[:tag].blank? ? 'badge-primary' : 'badge-light' }" %>
    <% @tags.each do |tag| %>
      <%= link_to tag.name, package_announcements_path(@package, tag: tag.name),
                  class: "badge no-link #{ tag.name == params[:tag] ? 'badge-primary' : 'badge-light' }" %>
    <% end %>
  </div>
</div>
