<div class="page-header">
  <h2><%= t('headings.login') %></h2>
</div>

<div class="row">
  <div class="col-sm-6 col-12">
    <%= form_for :session, url: login_path do %>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="email" class="col-form-label"><%= t('forms.email') %></label>
        </div>
        <div class="col-sm-8">
          <input type="email" name="email" class="form-control" value="<%= params[:email] %>" required />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="password" class="col-form-label"><%= t('forms.password') %></label>
        </div>
        <div class="col-sm-8">
          <input type="password" name="password" class="form-control" required />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-8 ml-auto">
          <input type="submit" value="<%= t('actions.login') %>" class="btn btn-primary" />
        </div>
      </div>
    <% end %>
  </div>
</div>
