<div class="page-header">
  <h2><%= @package.name %></h2>
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('packages.discussion'), package_topics_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= truncate(@topic.title) %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="page-header">
  <h4><%= t('replies.new') %></h4>
</div>

<%= form_for [@package, @topic, @reply] do |reply_form| %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= reply_form.text_area :content, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= reply_form.submit t('actions.create'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
