<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('packages.live_classes') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="row">
  <% if admin? %>
    <div class="col-sm-12 mb-4 text-right">
      <%= link_to t('admin.classrooms.new'), new_admin_package_classroom_path(@package), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<% if @classrooms.present? %>
  <div class="row">
    <% @classrooms.each do |classroom| %>
      <div class="col-sm-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-text">
              <h4 class="card-title">
                <%= link_to classroom.name, package_classroom_path(@package, classroom), target: '_blank' %>
              </h4>
              <p class="card-text">
                <%= raw classroom.description %>
              </p>
              <p class="card-text text-info">
                <%= classroom.start_time.to_s(:human) %>
              </p>
              <% if admin? %>
                <% if classroom.presentation_baseurl.blank? %>

                  <div class="alert alert-danger">Presentation not ready</div>
                <% end %>
                <% if classroom.opentok_session_id.blank? %>
                  <div class="alert alert-danger">Live session not ready</div>
                <% end %>
              <% end %>
              <% if admin? %>
                <%= link_to 'Prepare Presentation', prepare_presentation_package_classroom_path(@package, classroom),  class: 'btn btn-success', method: :put %>
                <%= link_to 'Initialize Live Session', initialize_live_package_classroom_path(@package, classroom), class: 'btn btn-success', method: :put %>
                <%= link_to t('actions.edit'), edit_admin_package_classroom_path(@package, classroom),
                            class: 'btn btn-secondary' %>
                <%= link_to t('actions.delete'), admin_package_classroom_path(@package, classroom),
                            method: :delete, class: 'btn btn-danger',
                            data: { confirm: t('messages.confirm') } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="float-right">
    <%= will_paginate @classrooms, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
<% else %>
  <div class="alert alert-warning col-sm-12">
    <%= t('messages.no_live_classes') %>
  </div>
<% end %>

