<div class="lefty">
  <% if admin? %>
    <div class="controlbar">
      <% if @classroom.presentation_baseurl.present? %>
        <a href="#" id="togglePresentation" class="btn btn-primary m-2">Toggle Presentation</a>
      <% end %>
      <a href="#" id="clear" class="btn btn-danger m-2">Clear</a>
      <div class="float-right mr-4">
        <a href="#" id="previousSlide" class="btn btn-primary m-2" style="display: none;">Previous</a>
        <a href="#"  id="nextSlide" class="btn btn-primary m-2" style="display: none;">Next</a>
      </div>
    </div>
  <% end %>
  <canvas id="whiteboard" width="640" height="480"
          class="whiteboard_<%= @classroom.id %> <%= admin? ? 'presenter' : 'viewer' %>"
          data-presentation-baseurl="<%= @classroom.presentation_baseurl %>"
          data-presentation-count="<%= @classroom.presentation_count %>"
          data-classroom-id="<%= @classroom.id %>">
  </canvas>
</div>
<div class="righty">
  <div id="controls" class="float-right mr-2">
    <%= link_to '#', id: 'fullscreen' do %>
      <%= fa_icon 'window-maximize' %>
    <% end %>
  </div>

  <div id="video" class="<%= admin? ? 'presenter' : 'viewer' %>"
       data-opentok-token="<%= @classroom.opentok_token %>"
       data-opentok-key="<%= ENV['OPEN_TOK_KEY']%>"
       data-opentok-session="<%= @classroom.opentok_session_id %>"
       data-session-name="<%= @classroom.name %>">
    <% if admin? %>
      <div id="presenter">
      </div>
    <% end %>
    <div id="viewer">
    </div>
  </div>
  <div class="chat">
    <%= form_for [@package, @classroom, @chat], remote: true do |chat_form| %>
      <div class="input-group">
        <%= chat_form.text_field :message, class: 'form-control', required: true, placeholder: 'Message' %>
        <span class="input-group-btn">
          <%= chat_form.submit 'Chat', class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
    <div id="chat-container" class="mt-2 <%= admin? ? 'presenter' : 'viewer' %>">
      <ul class="list-group chat_<%=@classroom.id %>_<%= current_user.id %>" id="chats">
        <% @chats.each do |chat| %>
          <li class="list-group-item">
            <strong><%= chat.user.name %></strong>:
            <%= chat.message %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
