<%= form_for [@package, @topic] do |topic_form| %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= topic_form.label t('topics.title'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= topic_form.text_field :title, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= topic_form.label t('topics.content'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= topic_form.text_area :content, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= topic_form.submit t('actions.create'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
