<div class="page-header">
  <h2><%= @package.name %></h2>
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('packages.discussion') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="col-sm-12 mb-4 text-right">
  <%= link_to t('topics.new'), new_package_topic_path(@package), class: 'btn btn-primary' %>
</div>

<% if @topics.present? %>
  <ul class="list-group">
    <% @topics.each do |topic| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to topic.title, package_topic_path(@package, topic) %>
        <span class="badge badge-primary badge-pill">
          <%= topic.replies.count %>
        </span>
      </li>
    <% end %>
  </ul>
  <div class="float-right">
    <%= will_paginate @topics, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t('messages.no_topics') %>
  </div>
<% end %>
