<div class="page-header">
  <h2><%= @package.name %></h2>
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('packages.discussion'), package_topics_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= truncate(@topic.title) %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="card mb-4">
  <div class="card-body">
    <div class="card-text">
      <div class="page-header">
        <h4><%= @topic.title %></h4>
      </div>
      <p>
        <%= raw @topic.content %>
      </p>
      <p>
        <small class="text-info">
          <%= t('messages.posted', time: time_ago_in_words(@topic.created_at)) %> by
          <%= @topic.user.name %>
        </small>
      </p>
      <p>
        <%= link_to t('actions.reply'), new_package_topic_reply_path(@package, @topic),
                    class: 'btn btn-primary' %>
        <% if admin? %>
          <%= link_to t('actions.delete'), package_topic_path(@package, @topic), method: :delete,
                      class: 'btn btn-danger', data: { confirm: t('messages.confirm') } %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<% @replies.each do |reply| %>
  <div class="card mb-4">
    <div class="card-body">
      <div class="card-text">
        <p>
          <%= raw reply.content %>
        </p>
        <p>
          <small class="text-info">
            <%= t('messages.posted', time: time_ago_in_words(reply.created_at)) %> by
            <%= reply.user.name %>
          </small>
        </p>
        <p>
          <% if admin? %>
            <%= link_to t('actions.delete'), package_topic_reply_path(@package, @topic, reply), method: :delete,
                        class: 'btn btn-danger btn-sm', data: { confirm: t('messages.confirm') } %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="float-right">
  <%= will_paginate @replies, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>
