<%= form_for [:admin, @package, @lesson] do |lesson_form| %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= lesson_form.label t('admin.lessons.title'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= lesson_form.text_field :title, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= lesson_form.label t('admin.lessons.description'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= lesson_form.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= lesson_form.label t('admin.lessons.video_uuid'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= lesson_form.text_field :video_uuid, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= lesson_form.submit (@lesson.new_record? ? t('actions.create') : t('actions.update')), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
