<%= form_for [:admin, @package, @classroom] do |classroom_form| %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= classroom_form.label t('admin.classrooms.name'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= classroom_form.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= classroom_form.label t('admin.classrooms.description'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= classroom_form.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= classroom_form.label t('admin.classrooms.start_time'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= classroom_form.text_field :chronic_start_time, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= classroom_form.label t('admin.classrooms.presentation'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <% if @classroom.presentation.present? %>
        <p>
          <%= link_to @classroom.presentation.to_s.split('/').last, @classroom.presentation_url  %>
        </p>
      <% end %>
      <%= classroom_form.file_field :presentation, accept: 'application/pdf' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= classroom_form.submit (@classroom.new_record? ? t('actions.create') : t('actions.update')), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
