<div class="page-header">
  <h2><%= t('headings.profile') %></h2>
</div>
<%= form_for @user, url: user_path(@user) do |user_form| %>
  <div class="row">
    <div class="col-6">
      <div class="form-group row">
        <div class="col-sm-4">
          <%= user_form.label t('forms.email'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-8">
          <%= user_form.email_field :email, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= user_form.label t('forms.mobile'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-8">
          <%= user_form.text_field :mobile, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= user_form.label t('forms.name'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-8">
          <%= user_form.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= user_form.label t('forms.password'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-8">
          <%= user_form.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= user_form.label t('forms.password_confirmation'), 'Retype password', class: 'col-form-label' %>
        </div>
        <div class="col-sm-8">
          <%= user_form.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-8 ml-auto">
          <%= user_form.submit t('actions.update'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <p>
        <%= image_tag(@user.avatar_url(:thumb), class: 'rounded') %>
      </p>

      <%= user_form.file_field :avatar %>
    </div>
  </div>
<% end %>
