<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <%= link_to t('packages.overview'), package_path(@package),
                class: "nav-link #{'active' if package_menu_active?('overview')}" %>
  </li>
  <% if @package.has_announcement? %>
    <li class="nav-item">
      <%= link_to t('packages.announcements'), package_announcements_path(@package),
                  class: "nav-link #{'active' if package_menu_active?('announcements')}" %>
    </li>
  <% end %>
  <% if @package.has_live_class? %>
    <li class="nav-item">
      <%= link_to t('packages.live_classes'), package_classrooms_path(@package),
                  class: "nav-link #{'active' if package_menu_active?('live_classes')}" %>
    </li>
  <% end %>
  <% if @package.has_lesson? %>
    <li class="nav-item">
      <%= link_to t('packages.lessons'), package_lessons_path(@package),
                  class: "nav-link #{'active' if package_menu_active?('lessons')}" %>
    </li>
  <% end %>
  <% if @package.has_discussion? %>
    <li class="nav-item">
      <%= link_to t('packages.discussion'), package_topics_path(@package),
                  class: "nav-link #{'active' if package_menu_active?('discussion')}" %>
    </li>
  <% end %>
  <% if @package.has_test? %>
    <li class="nav-item">
      <%= link_to t('packages.tests'), package_tests_path(@package),
                  class: "nav-link #{'active' if package_menu_active?('tests')}" %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to t('packages.users'), users_package_path(@package),
                class: "nav-link #{'active' if package_menu_active?('users')}" %>
  </li>
</ul>
