<div class="row">
  <div class="col-sm-8">
    <div class="page-header">
      <% if params['my'].present? %>
        <h4><%= t('headings.my_packages') %></h4>
      <% else %>
        <h4><%= t('headings.packages') %></h4>
      <% end %>
    </div>
    <% if admin? %>
      <div class="col-12 text-right mb-2">
        <%= link_to t('admin.packages.new'), new_admin_package_path, class: 'btn btn-primary mb-2' %>
      </div>
    <% end %>
    <% if @packages.present? %>
      <% @packages.each do |package| %>
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-text">
              <%= image_tag package.profile_url(:thumb), class: 'float-left mr-4', alt: package.name %>
              <h2 class="card-title">
                <%= link_to package.name, package_path(package) %>
              </h2>
              <h5 class="subtitle"><%= package.subtitle %></h5>
              <% if admin? %>
                <%= link_to t('actions.edit'), edit_admin_package_path(package),
                            class: 'btn btn-secondary' %>
              <% else %>
                <span>
                  <%= star_rating package %>
                </span>
                <p>
                  <span class="badge badge-success">
                    <% if package.free? %>
                      <%= t('packages.free') %>
                    <% else %>
                      &#8377; <%= package.cost %>
                    <% end %>
                  </span>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="float-right">
        <%= will_paginate @packages, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% else %>
      <div class="col-12 alert alert-warning" role="alert">
        <%= t('messages.no_packages') %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="page-header">
      <h4><%= t('headings.tour') %></h4>
    </div>
    <iframe width="330" height="185" src="https://www.youtube.com/embed/bt9tt_m0hhU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
    <div class="page-header">
      <h4><%= t('headings.blog') %></h4>
    </div>
    <ul class="list-group">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <%= link_to post.title, post_path(post) %>
        </li>
      <% end %>
    </ul>
    <hr />
    <div class="page-header">
      <h4><%= t('headings.upcoming') %></h4>
    </div>
    <ul class="list-group">
      <% if @classrooms.present? %>
        <% @classrooms.each do |classroom| %>
          <li class="list-group-item">
            <h4><%= link_to classroom.name, package_classroom_path(classroom.package, classroom), target: "#{logged_in? ? '_blank' : '_self'}" %></h4>
            <p class="text-info"><%= classroom.start_time.to_s(:human) %></p>
          </li>
        <% end %>
      <% else %>
      <div class="col-12 alert alert-warning" role="alert">
        <%= t('messages.no_upcoming_classes') %>
      </div>
      <% end %>
    </ul>
  </div>
</div>
