<div class="page-header">
  <h2><%= @package.name %></h2>
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= @package.name %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="row">
  <div class="col-sm-9 col-12">
    <h4>
      <%= @package.subtitle %>
    </h4>
    <p>
      <%= raw @package.description %>
    </p>

    <% if admin? %>
      <p>
        <%= link_to t('actions.edit'), edit_admin_package_path(@package), class: 'btn btn-secondary' %>
      </p>
    <% end %>
  </div>

  <div class="col-sm-3 col-12">
    <p>
      <%= image_tag(@package.profile_url(:thumb), class: 'rounded') %>
    </p>
    <p>
      <span class="text-warning">
        <%= star_rating @package %>
      </span>
    </p>

    <% unless current_user.try(:enrolled?, @package) %>
      <p>
        <span class="badge badge-success">
          <% if @package.free? %>
            <%= t('packages.free') %>
          <% else %>
            &#8377; <%= @package.cost %>
          <% end %>
        </span>
      </p>
      <p>
        <% if admin? %>
          <%= link_to t('actions.enroll'), enroll_package_path(@package), class: 'btn btn-primary', method: :put %>
        <% else %>
          <% if @package.free? %>
            <%= link_to t('actions.enroll'), enroll_package_path(@package), class: 'btn btn-primary', method: :put %>
          <% else %>
            <%#= link_to 'Buy', start_payment_path(package_id: @package.id), method: :post, class: 'btn btn-primary' %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyModal">
              Buy
            </button>

            <!-- Modal -->
            <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="buyModalLabel">Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>To enroll in this course, please transfer &#8377; <%= @package.cost %> to the below Google Pay account.</p>
                    <p><b>Google pay:</b> +91 9500774799</p>
                    <p><%= image_tag('vetri-gpay-qr.jpg', class: 'img-responsive', style: 'width: 150px;') %></p>
                    <p>You will be enrolled within 30 mins.</p>
                    <p>Or contact 9894176425, 9994865541 for more details.</p>
                    <p><b>Refund Policy:</b> All courses come with 7 days refund policy. Please try out our <b><a href="/packages/994278447" target="_blank">Free NEET Sample Course</a></b> before purchasing.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
      <% end %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#payment-form input').addClass('btn btn-primary');
</script>
