<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('packages.users') %>
  </li>
</ol>

<%= render 'packages/menu' %>
<% if admin? %>
  <%= form_tag enroll_admin_package_path(@package), method: :put do %>
    <div class="input-group col-sm-6 float-right">
      <input type="text" class="form-control" name="email" placeholder="User email">
      <span class="input-group-btn">
        <%= submit_tag  'Enroll User', class: 'btn btn-secondary' %>
      </span>
    </div>
  <% end %>
<% end %>
<div class="clearfix mb-4"></div>

<% if @users.present? %>
  <table class="table table-hover table-bordered table-sm">
    <thead class="table-info">
      <tr>
        <th style="width: 50px;">#</th>
        <th>Name</th>
        <% if admin? %>
          <th>Email</th>
          <th>Action</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <th><%= item_index(index, params[:page], User.per_page) %></th>
          <td><%= user.name %></td>
          <% if admin? %>
            <td><%= user.email %></td>
            <td>
              <%= link_to 'Shadow', shadow_user_path(user), class: 'btn btn-secondary btn-sm', method: :put %>
              <%= link_to 'Unenroll', unenroll_admin_package_path(@package, user_id: user), class: 'btn btn-danger btn-sm', method: :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="float-right">
    <%= will_paginate @users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t('messages.no_users') %>
  </div>
<% end %>
