var chats = $('#chats');
$('#chat_message').val('');
var message = '<li class="list-group-item"><strong><%= @chat.user.name %></strong>: <%= @chat.message %></li>';
chats.prepend(message);
App.whiteboard.send_message({type: 'chat', classroom: '<%= @classroom.id %>', message: message, user: <%= current_user.id %> });
