<%= form_for [:admin, @post] do |post_form| %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= post_form.label t('admin.posts.title'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= post_form.text_field :title, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= post_form.label t('admin.posts.content'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= post_form.text_area :content, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= post_form.label :tag_list, t('admin.posts.tags'), class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= post_form.select :tag_list, options_for_select(Post.tag_counts.map(&:name), @post.tag_list), {},
                                      { class: 'form-control tag-select', multiple: true } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= post_form.submit (@post.new_record? ? t('actions.create') : t('actions.update')), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
