<%= form_for [:admin, @package, @announcement] do |announcement_form| %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= announcement_form.label t('admin.announcements.title'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= announcement_form.text_field :title, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= announcement_form.label t('admin.announcements.content'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= announcement_form.text_area :content, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= announcement_form.label :tag_list, t('admin.announcements.tags'), class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= announcement_form.select :tag_list, options_for_select(Announcement.tag_counts.map(&:name), @announcement.tag_list), {},
                                      { class: 'form-control tag-select', multiple: true } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= announcement_form.submit (@announcement.new_record? ? t('actions.create') : t('actions.update')), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
