<div class="page-header">
  <h2><%= @package.name %></h2>
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('packages.announcements'), package_announcements_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('admin.announcements.edit') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="page-header">
  <h4><%= t('admin.announcements.edit') %></h4>
</div>


<%= render 'announcement' %>
