<div class="page-header">
  <h2><%= t('headings.about') %></h2>
</div>
<div class="row">
  <div class="col-sm-6 col-12">
    <p>
      Akshi is an undertaking by Vetri Group of Institutes.
    </p>
    <p>
      Vetri Group of Institutes was started in the year 2001. We provide professional coaching classes for Medical and Engineering entrance examinations. All our faculty members are highly qualified with more than 30 years of teaching experience.
    </p>
    <div class="page-header">
      <h5>Contact Us</h5>
    </div>
    Phone: +919894176425, +919500774799, +914132202348, +914132203985, <br />
    <a href="mailto:admin@akshi.com">admin@akshi.com</a> <br />
  </div>
  <div class="col-sm-6 col-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.4082130303213!2d79.81347811455802!3d11.946213991534378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a53616faaaaaaa9%3A0x2bea682ef544b378!2sVetri+Group+of+Institutions!5e0!3m2!1sen!2sin!4v1490703864496" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
