<%= form_for [:admin, @question] do |question_form| %>
  <div class="form-group row">
    <%= question_form.label t('admin.questions.content'), class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= question_form.text_area :content, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= question_form.label :tag_list, t('admin.questions.tags'), class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= question_form.select :tag_list, options_for_select(Question.tag_counts.map(&:name), @question.tag_list), {},
                                          { class: 'form-control tag-select', multiple: true } %>
    </div>
  </div>
  <%= question_form.nested_fields_for :answers do |answer_form| %>
    <div class="form-group row">
      <%= answer_form.label t('admin.questions.content'), 'Answer __nested_field_for_replace_with_index__',
                            class: 'col-sm-2 col-form-label answer',
                            data: { index: '__nested_field_for_replace_with_index__' } %>
      <div class="col-sm-8">
        <%= answer_form.text_area :content, class: 'form-control' %>
      </div>
      <div class="col-sm-2">
        <%= answer_form.remove_nested_fields_link t('actions.remove'), class: 'btn btn-danger btn-sm remove-answer' %>
      </div>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= question_form.add_nested_fields_link :answers, t('admin.questions.add_answer'), class: 'btn btn-info', id: 'add-answer' %>
    </div>
  </div>
  <div class="form-group row" id="correct-answer-container">
    <%= question_form.label :answer_index, t('admin.questions.correct_answer'), class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= question_form.select :answer_index, [], {}, class: 'form-control', id: 'correct-answer' %>
    </div>
  </div>
  <div class="form-group row">
    <%= question_form.label :explanation_uuid, 'Explanation Video ID', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= question_form.text_field :explanation_uuid, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= question_form.submit (@question.new_record? ? t('actions.create') : t('actions.update')), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    var totalAnswers = 0;

    function updateAnswers() {
      totalAnswers = $('.answer:visible').length;
      $('#correct-answer').empty();
      if (totalAnswers === 0) {
        $('#correct-answer-container').hide();
      } else {
        $('#correct-answer-container').show();
      }
      $('.answer:visible').each(function (_index, elem) {
        var index = $(elem).data('index');
        var option = $('<option></option>').val(index).html('Answer ' + index);
        if (parseInt('<%= @question.answers.index(@question.answer) %>') === index) {
          option.attr('selected', true);
        }
        $('#correct-answer').append(option);
      });
    }

    updateAnswers();

    $(document).on("fields_added.nested_form_fields", function (event, param) {
      updateAnswers();
    });

    $(document).on("fields_removed.nested_form_fields", function (event, param) {
      updateAnswers();
    });
  });
</script>
