<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('admin.questions.title'), admin_questions_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('admin.questions.edit') %>
  </li>
</ol>

<div class="page-header">
  <h2><%= t('admin.questions.edit') %></h2>
</div>
<%= render 'question' %>
