<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    <%= t('admin.questions.title') %>
  </li>
</ol>

<div class="page-header">
  <h2><%= t('admin.questions.title') %></h2>
</div>

<form>
  <div class="form-row">
    <div class="col-sm-4">
      <%= select_tag 'tags', options_for_select(Question.tag_counts.map(&:name), params[:tags]),
                             class: 'form-control tag-select',
                             multiple: true,
                             data: { placeholder: t('admin.questions.search_tags') } %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag 'content', params[:content], class: 'form-control', placeholder: t('admin.questions.search_content') %>
    </div>
    <div class="col-sm-2">
      <%= submit_tag t('actions.search'), class: 'btn btn-secondary' %>
    </div>
    <div class="col-sm-2 text-right">
      <%= link_to t('admin.questions.new'), new_admin_question_path, class: 'btn btn-primary ml-5' %>
    </div>
  </div>
</form>

<div class="clearfix mb-4"></div>

<% if @questions.present? %>
  <table class="table table-hover table-bordered table-sm mt-4">
    <thead class="table-info">
      <tr>
        <th style="width: 50px;">#</th>
        <th>Content</th>
        <th style="width: 250px;" class="text-center">Tags</th>
        <th style="width: 200px;" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each_with_index do |question, index| %>
        <tr>
          <th>
            <%= item_index(index, params[:page], Question.per_page) %>
          </th>
          <td>
            <%= raw question.content %>
          </td>
          <td>
            <% question.tag_list.each do |tag| %>
              <span class="badge badge-info">
                <%= tag %>
              </span>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to t('actions.preview'), admin_question_path(question), class: 'btn btn-secondary btn-sm' %>
            <%= link_to t('actions.edit'), edit_admin_question_path(question), class: 'btn btn-primary btn-sm' %>
            <%= link_to t('actions.delete'), admin_question_path(question), class: 'btn btn-danger btn-sm',
                        method: :delete, data: { confirm: t('messages.confirm') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="float-right">
    <%= will_paginate @questions, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
<% else %>
  <div class="col-12 alert alert-warning mt-4" role="alert">
    <%= t('admin.questions.none') %>
  </div>
<% end %>

