<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('admin.questions.title'), admin_questions_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('admin.questions.preview') %>
  </li>
</ol>

<div class="page-header">
  <h2><%= t('admin.questions.preview') %></h2>
</div>

<div class="card bg-light">
  <div class="card-body">
    <p class="card-text">
     <%= raw @question.content %>
    </p>
    <% if @question.tag_list.present? %>
      <p class="card-text">
        <% @question.tag_list.each do |tag| %>
          <span class="badge badge-info">
            <%= tag %>
          </span>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
<% @question.answers.each_with_index do |answer, index| %>
  <div class="card mt-4 <%= 'border-primary' if @question.answer == answer %>">
    <div class="card-body answer-readonly-block <%= 'selected' if @question.answer == answer %>">
      <div class="card-text">
        <%= ('a'..'z').to_a[index] %>) <%= raw answer.content %>
      </div>
    </div>
  </div>
<% end %>

<% if @question.explanation_uuid.present? %>
  <hr />
  <div class="page-header">
    <h4>Explanation</h4>
  </div>
  <iframe src='https://www.youtube.com/embed/<%= @question.explanation_uuid %>?rel=0'
          frameborder='0' allowfullscreen>
  </iframe>
<% end %>

