<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('packages.lessons') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="row">
  <% if admin? %>
    <div class="col-sm-12 mb-4 text-right">
      <%= link_to t('admin.lessons.new'), new_admin_package_lesson_path(@package), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<% if @lessons.present? %>
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-sm-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-text">
              <% if lesson.video_uuid.present? %>
                <iframe src='https://www.youtube.com/embed/<%= lesson.video_uuid  %>?rel=0'
                        frameborder='0' allowfullscreen>
                </iframe>
              <% else %>
                <%= image_tag 'video_unavailable.gif', width: 250, height: 200, class: 'float-left mr-4' %>
              <% end %>
              <h2 class="card-title">
                <%= lesson.title %>
              </h2>
              <p><%= raw lesson.description %></p>
            </div>
            <% if admin? %>
              <%= link_to t('actions.edit'), edit_admin_package_lesson_path(@package, lesson),
                          class: 'btn btn-secondary' %>
              <%= link_to t('actions.delete'), admin_package_lesson_path(@package, lesson),
                          method: :delete, class: 'btn btn-danger',
                          data: { confirm: t('messages.confirm') } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="float-right">
    <%= will_paginate @lessons, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
<% else %>
  <div class="col-12 alert alert-warning" role="alert">
    <%= t('messages.no_lessons') %>
  </div>
<% end %>
