<center>
  <h2>Redirecting to Paytm </h2><br/>
  <h1>Please do not refresh this page...</h1>
</center>
<form method="post" action="<%= @paytm_keys['PAYMENT_URL'] %>" name="paymentForm">
  <% keys = @payment_params.keys %>
  <% keys.each do |k| %>
    <input type="hidden" name="<%= k %>" value="<%= @payment_params[k] %>">
  <% end %>
  <input type="hidden" name="CHECKSUMHASH" value="<%= @checksum_hash %>">
</form>
<script type="text/javascript">document.paymentForm.submit();</script>
