<div class="page-header">
  <h2><%= t('headings.blog') %></h2>
</div>
<div class="row">
  <div class="col-sm-9">
    <% if admin? %>
      <div class="col-sm-12 mb-4 text-right">
        <%= link_to t('admin.posts.new'), new_admin_post_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="card mb-4">
          <div class="card-body">
            <div class="page-header">
              <h4><%= link_to post.title, post_path(post) %></h4>
            </div>
            <p>
              <%= truncate(sanitize(post.content, tags: []), length: 200) %>
            </p>
            <p>
              <small class="text-info">
                <%= t('messages.posted', time: time_ago_in_words(post.created_at)) %>
              </small>
            </p>
          </div>
        </div>
      <% end %>
      <div class="float-right">
        <%= will_paginate @posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% else %>
      <div class="alert alert-warning">
        <%= t('messages.no_posts') %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= link_to 'All', blog_path(tag: nil, page: params[:page]), class: "badge no-link #{ params[:tag].blank? ? 'badge-primary' : 'badge-light' }" %>

    <% @tags.each do |tag| %>
      <%= link_to tag.name, blog_path(tag: tag.name),
                  class: "badge no-link #{ tag.name == params[:tag] ? 'badge-primary' : 'badge-light' }" %>
    <% end %>
  </div>
</div>
