<div class="page-header">
  <h2><%= t('headings.blog') %></h2>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="page-header">
          <h4><%= link_to @post.title %></h4>
        </div>
        <p>
          <%= raw @post.content %>
        </p>
        <p>
          <small class="text-info">
            <%= t('messages.posted', time: time_ago_in_words(@post.created_at)) %>
          </small>
        </p>
        <% if admin? %>
          <p>
            <%= link_to edit_admin_post_path(@post), class: 'text-secondary no-link ml-2', title: t('actions.edit') do %>
              <%= fa_icon 'edit 2x' %>
            <% end %>
            <%= link_to admin_post_path(@post), method: :delete,
                        class: 'text-danger no-link', title: t('actions.delete'),
                        data: { confirm: t('messages.confirm') } do %>
              <%= fa_icon 'trash 2x' %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
