@import 'bootstrap';

.page-header {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.answer-cell {
  margin-left: 10px;
  margin-right: 10px;
}
