@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
// Breaks canvas
// @import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'jquery.mCustomScrollbar.min';

body {
  background-color: #ddd;
}

.container {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  padding: 10px;
}

.lefty {
  width: 650px;
  float: left;
}

.righty {
  width: 340px;
  float: right;
}

.clearfix {
  clear: both;
}

.video {
  padding: 10px;
}

#whiteboard {
  margin: 10px;
  background-color: #fff;
  touch-action: none;
}

#whiteboard.presenter {
  cursor: crosshair;
}

#whiteboard.viewer {
  cursor: not-allowed;
  margin-top: 25px;
}

#chat-container.presenter {
  height: 210px;
}

#chat-container.viewer {
  height: 176px;
}
