<div class="page-header">
  <h2>Users</h2>
</div>

<form class="mb-4">
  <div class="form-row">
    <div class="col-sm-4">
      <%= text_field_tag 'users_q', params[:q], class: 'form-control', placeholder: 'Search users' %>
    </div>
    <div class="col-sm-4">
      <%= submit_tag t('actions.search'), class: 'btn btn-secondary' %>
    </div>
  </div>
</form>

<% if @users.present? %>
  <table class="table table-hover table-bordered table-sm">
    <thead class="table-info">
      <tr>
        <th style="width: 50px;">#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <th><%= item_index(index, params[:page], User.per_page) %></th>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Shadow', shadow_user_path(user), class: 'btn btn-secondary btn-sm', method: :put %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="float-right">
    <%= will_paginate @users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t('messages.no_users') %>
  </div>
<% end %>
