<%= form_for [:admin, @package] do |package_form| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.name'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.subtitle'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.text_field :subtitle, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.description'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.text_area :description, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.cost'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.text_field :cost, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.published'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.check_box :published, class: 'form-control mt-2' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.has_announcement'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.check_box :has_announcement, class: 'form-control mt-2' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.has_live_class'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.check_box :has_live_class, class: 'form-control mt-2' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.has_lesson'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.check_box :has_lesson, class: 'form-control mt-2' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.has_test'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.check_box :has_test, class: 'form-control mt-2' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= package_form.label t('admin.packages.has_discussion'), class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= package_form.check_box :has_discussion, class: 'form-control mt-2' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9 ml-auto">
          <%= package_form.submit (@package.new_record? ? t('actions.create') : t('actions.update')), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <p>
        <%= image_tag(@package.profile_url(:thumb), class: 'rounded') %>
      </p>
      <%= package_form.file_field :profile %>
    </div>
  </div>
<% end %>
