<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('admin.packages.edit') %>
  </li>
</ol>

<div class="page-header">
  <h2><%= t('admin.packages.edit') %></h2>
</div>

<%= render 'packages/menu' %>

<%= render 'package' %>

