<%= form_for [:admin, @package, @test] do |test_form| %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.title'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.text_field :title, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.description'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.positive_marks'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.number_field :positive_marks, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.negative_marks'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.number_field :negative_marks, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group row">
    <%= test_form.label 'Time limit(Mins)', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= test_form.number_field :time_limit_in_mins, class: 'form-control' %>
        <span class="input-group-addon"><%= t('admin.tests.no_time_limit') %></span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.published'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.check_box :published, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.dynamic'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.check_box :dynamic, class: 'form-control', id: 'check-dynamic' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.reattempt'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.check_box :reattempt, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row dynamic-input">
    <div class="col-sm-2">
      <%= test_form.label t('admin.tests.questions_count'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= test_form.number_field :questions_count, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row dynamic-input">
    <%= test_form.label :tag_list, t('admin.questions.tags'), class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= test_form.select :tag_list, options_for_select(Question.tag_counts.map(&:name), @test.tag_list), {},
                           { class: 'form-control tag-select', multiple: true } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-auto">
      <%= test_form.submit (@test.new_record? ? t('actions.create') : t('actions.update')), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
