<div class="page-header">
  <h3><%= @test.title %></h3>
</div>

<div class="alert alert-info">
  <%= raw @test.description %>
</div>

<% if @questions.present? %>
  <% @questions.each_with_index do |question, index| %>
    <p class="mt-4">
      <%= index + 1 %>. <%= raw question.content %>
      <br />
      <% question.answers.each_with_index do |answer, answer_index| %>
        <%= ('a'..'z').to_a[answer_index] %>) <%= raw answer.content %>
        <br />
      <% end %>
  <% end %>

  <div class="page-break"></div>

  <div class="page-header">
    <h4>
      <%= t('admin.tests.answers') %>
    </h4>
  </div>

  <% @questions.each_with_index do |question, index| %>
    <span class="answer-cell">
      <%= index + 1 %>. <%= ('a'..'z').to_a[question.answers.index(question.answer)] %>)
    </span>
  <% end %>
<% else %>
  <div class="alert alert-warning mt-4">
    <%= t('tests.no_questions') %>
  </div>
<% end %>

