<div class="page-header">
  <h2><%= @package.name %></h2>
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('packages.tests'), package_tests_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('admin.tests.add_questions'), questions_admin_package_test_path(@package, @test) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('admin.tests.add_from_bank') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="page-header">
  <h2><%= t('admin.tests.add_from_bank') %></h2>
</div>

<form>
  <div class="form-row">
    <div class="col-sm-4">
      <%= select_tag 'tags', options_for_select(Question.tag_counts.map(&:name), params[:tags]),
                             class: 'form-control tag-select',
                             multiple: true,
                             data: { placeholder: t('admin.questions.search_tags') } %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag 'content', params[:content], class: 'form-control', placeholder: t('admin.questions.search_content') %>
    </div>
    <div class="col-auto">
      <%= submit_tag t('actions.search'), class: 'btn btn-secondary' %>
    </div>
  </div>
</form>

<% if @questions.present? %>
  <table class="table table-hover table-bordered table-sm mt-4">
    <thead class="table-info">
      <tr>
        <th style="width: 50px;">#</th>
        <th>Content</th>
        <th style="width: 250px;" class="text-center">Tags</th>
        <th style="width: 50px;" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each_with_index do |question, index| %>
        <tr class="<%= 'table-info' if @test.questions.include?(question) %>">
          <th>
            <%= item_index(index, params[:page], Question.per_page) %>
          </th>
          <td>
            <%= raw question.content %>
          </td>
          <td>
            <% question.tag_list.each do |tag| %>
              <span class="badge badge-info">
                <%= tag %>
              </span>
            <% end %>
          </td>
          <td>
            <% unless @test.questions.include?(question) %>
              <%= link_to t('actions.add'), add_question_admin_package_test_path(@package, @test, question_id: question.id),
                          class: 'btn btn-success btn-sm', method: :put %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="float-right">
    <%= will_paginate @questions, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
<% else %>
  <div class="col-12 alert alert-warning mt-4" role="alert">
    <%= t('admin.questions.none') %>
  </div>
<% end %>
