<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('packages.tests'), package_tests_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('tests.attend') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="card no-select">
  <h4 class="card-header">
    <%= truncate @test.title %>
  </h4>

  <div class="card-body">
    <% if @questions.present? %>
      <div class="row">

        <div class="col-sm-9">
          <div class="card bg-light">
            <div class="card-body">
              <div class="card-text">
                <%= params[:index].blank? ? 1 : params[:index].to_i + 1 %>. <%= raw @question.content %>
              </div>
            </div>
          </div>

          <% @question.answers.each_with_index do |answer, index| %>
            <div class="card mt-4 answer-card <%= 'border-primary' if answer.selected?(@attempt, @question) %>" id="answer-<%=answer.id%>">
              <div class="card-body answer-block <%= 'selected' if answer.selected?(@attempt, @question) %>""
                   data-package-id="<%= @package.id %>"
                   data-question-id="<%= @question.id %>"
                   data-test-id="<%= @test.id %>"
                   data-answer-id="<%= answer.id %>">
                <div class="card-text">
                  <%= ('a'..'z').to_a[index] %>) <%= raw answer.content %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="row mt-4 mb-4">
            <div class="col-sm-4 col-4 text-left">
              <%= link_to raw('&larr; Prev'), { index: params[:index].to_i - 1 },
                          class: "btn btn-light #{'disabled' if params[:index].blank? || params[:index].to_i == 0}"  %>
            </div>
            <div class="col-sm-4 col-4 text-center">
              <%= link_to t('tests.complete'), complete_package_test_path(@package, @test),
                          class: 'btn btn-primary', method: 'put', data: { confirm: t('messages.confirm') } %>
            </div>
            <div class="col-sm-4 col-4 text-right">
              <%= link_to raw('Next &rarr;'), { index: params[:index].to_i + 1 },
                          class: "btn btn-light #{ 'disabled' if params[:index].to_i == @questions.length - 1}" %>
            </div>
          </div>

        </div>
        <div class="col-sm-3 text-center">
          <% if @test.time_limit_in_mins.present? %>
            <div id="countdown" class="alert border-warning text-warning col-sm-12 text-center counter"
              data-package-id="<%= @package.id %>"
              data-test-id="<%= @test.id %>"></div>
          <% end %>
          <% @questions.each_with_index do |question, index| %>
            <%= link_to index + 1, attend_package_test_path(@package, @test, index: index),
                        class: "badge #{question_badge_color index, params[:index].to_i, question.attempted?(@test, current_user)}" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="alert alert-warning">
        <%= t('tests.no_questions') %>
      </div>
    <% end %>
  </div>
</div>

<% if @test.time_limit_in_mins.present? %>
  <script type="text/javascript">
    function pad(num) {
      return ('0' + num).slice(-2);
    }

    function hhmmss(secs) {
      var minutes = Math.floor(secs / 60);
      secs = secs % 60;
      var hours = Math.floor(minutes / 60)
      minutes = minutes % 60;
      return pad(hours) + ':' + pad (minutes)+ ':' + pad(secs);
    }

    var remainingTimeSecs = <%= @test.time_limit_in_mins * 60 - (Time.now.to_i - @test.started_at(current_user.id).to_i) %>;
    var container = $('#countdown');

    if (window.quizInterval) {
      clearInterval(window.quizInterval);
    }

    window.quizInterval = setInterval(function () {
      remainingTimeSecs--;
      container.html(hhmmss(remainingTimeSecs));

      if (remainingTimeSecs <= 0) {
        container.html('<%= t('tests.time_expired') %>');
        setTimeout(function () {
          if (window.quizInterval) {
            clearInterval(window.quizInterval);
          }
          $.ajax({
            url: '<%= complete_package_test_path(@package, @test) %>',
            method: 'PUT'
          });
        }, 1000);
      }
    }, 1000);

    container.html(hhmmss(remainingTimeSecs))
  </script>
<% end %>
