<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('packages.tests') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<% if admin? %>
  <div class="col-sm-12 text-right">
    <%= link_to 'New Test', new_admin_package_test_path(@package, @test),
                            class: 'btn btn-primary mb-2' %>
  </div>
<% end %>

<% if @tests.present? %>
  <table class="table table-hover table-bordered table-sm mt-4">
    <thead class="table-info">
      <tr class="">
        <th>#</th>
        <th>Title</th>
        <th class="text-center" style="width: 50px;">Questions</th>
        <th class="text-center" style="width: 50px;">Time(mins)</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tests.each_with_index do |test, index| %>
      <tr>
        <td style="width: 50px;">
          <%= item_index(index, params[:page], Test.per_page) %>
        </td>
        <td>
          <%= test.title %>
          <% unless test.published? %>
            <div class="badge badge-danger">
              Unpublished
            </div>
          <% end %>
        </td>
        <td style="width: 50px;" class="text-center">
          <% if test.dynamic? %>
            <%= test.questions_count %>
          <% else %>
            <%= test.questions.count %>
          <% end %>
        </td>
        <td class="text-center">
          <% if test.time_limit_in_mins.present? %>
            <%= test.time_limit_in_mins %>
          <% else %>
            No limit
          <% end %>
        </td>
        <td class="text-center" style="width: 360px;">
        <% if test.complete?(current_user.id) %>
          <%= link_to t('packages.results'), result_package_test_path(@package, test),
                      class: 'btn btn-info btn-sm' %>
        <% else %>
          <% if test.published? %>
            <%= link_to t('packages.attempt'), package_test_path(@package, test), class: 'btn btn-secondary btn-sm' %>
          <% end %>
        <% end %>
        <% if admin? %>
          <% unless test.dynamic? %>
            <%= link_to t('actions.preview'), preview_admin_package_test_path(@package, test, format: :pdf), class: 'btn btn-secondary btn-sm' %>
            <%= link_to t('actions.add_questions'), questions_admin_package_test_path(@package, test), class: 'btn-primary btn btn-sm' %>
          <% end %>
          <%= link_to t('actions.edit'), edit_admin_package_test_path(@package, test), class: 'btn btn-secondary btn-sm' %>
          <%= link_to t('actions.delete'), admin_package_test_path(@package, test), method: :delete,
                      class: 'btn btn-danger btn-sm', data: { confirm: t('messages.confirm') } %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="float-right">
    <%= will_paginate @tests, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>

<% else %>
  <div class="alert alert-warning">
    <%= t('packages.no_tests') %>
  </div>
<% end %>

