<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('packages.tests'), package_tests_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('tests.results') %>
  </li>
</ol>

<div class="card">
  <h4 class="card-header">
    <%= @test.title %>
  </h4>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <h3> Rank: <span class="text-success"><%= @rank %></span></h3>
        <h3> Score: <span class="text-info"><%= @attempt.score %>/<%= @attempt.total %></span></h3>
        <%= link_to t('packages.reattempt'), reattempt_package_test_path(@package, @test),
                    class: 'btn btn-warning mt-2', method: :delete,
                    data: { confirm: t('messages.confirm') } %>
        <%= link_to t('tests.review'), review_package_test_path(@package, @test),
                    class: 'btn btn-primary mt-2' %>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3">
            <%= t('tests.correct') %>
          </div>
          <div class="col-sm-9">
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @attempt.correct_percent %>%"></div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-3">
            <%= t('tests.incorrect') %>
          </div>
          <div class="col-sm-9">
            <div class="progress">
              <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: <%= @attempt.incorrect_percent %>%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="mt-4">Results</h2>

    <table class="table table-hover table-bordered table-sm mt-4">
      <thead class="table-info">
        <tr>
          <th style="width: 50px;">#</th>
          <th>Name</th>
          <% if admin? %>
            <th>Email</th>
          <% end %>
          <th>Score</th>
          <th>Rank</th>
        </tr>
      </thead>
      <tbody>
        <% @attempts.each.with_index(1) do |attempt, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= attempt.user.name %></td>
            <% if admin? %>
              <td><%= attempt.user.email %></td>
            <% end %>
            <td><%= attempt.score %></td>
            <td><%= @test.rank(attempt.user.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
