<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to t('packages.tests'), package_tests_path(@package) %>
  </li>
  <li class="breadcrumb-item active">
    <%= t('tests.review') %>
  </li>
</ol>

<div class="card no-select">
  <h4 class="card-header">
    <%= truncate @test.title %>
  </h4>

  <div class="card-body">
    <% if @questions.present? %>
      <div class="row">
        <div class="col-sm-9">
          <div class="card bg-light">
            <div class="card-body">
              <div class="card-text">
                <%= params[:index].blank? ? 1 : params[:index].to_i + 1 %>. <%= raw @question.content %>
              </div>
            </div>
          </div>

          <% @question.answers.each_with_index do |answer, index| %>
            <div class="card mt-4 <%= 'border-primary' if answer.selected?(@attempt, @question) %>" id="answer-<%=answer.id%>">
              <div class="card-body answer-readonly-block <%= 'selected' if answer.selected?(@attempt, @question) %>" id="answer-<%=answer.id%>">
                <div class="card-text">
                  <%= ('a'..'z').to_a[index] %>) <%= raw answer.content %>
                </div>
              </div>
            </div>
          <% end %>

          <h4 class="mt-4">Correct Answer</h4>
          <div class="card mt-4 border-success">
            <div class="card-body correct-answer-block selected">
              <div class="card-text">
                <%= raw @question.answer.content %>
              </div>
            </div>
          </div>

          <% if @question.explanation_uuid.present? %>
            <hr />
            <div class="page-header">
              <h4>Explanation</h4>
            </div>
              <iframe src='https://www.youtube.com/embed/<%= @question.explanation_uuid %>?rel=0'
                           frameborder='0' allowfullscreen>
              </iframe>
          <% end %>

          <div class="row mt-4 mb-4">
            <div class="col-sm-6 text-left">
              <%= link_to raw('&larr; Previous'), { index: params[:index].to_i - 1 },
                          class: "btn btn-light #{'disabled' if params[:index].blank? || params[:index].to_i == 0}"  %>
            </div>
            <div class="col-sm-6 text-right">
              <%= link_to raw('Next &rarr;'), { index: params[:index].to_i + 1 },
                          class: "btn btn-light #{ 'disabled' if params[:index].to_i == @questions.length - 1}" %>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <% @questions.each_with_index do |question, index| %>
            <span class="badge <%= (params[:index].to_i == index) || (params[:index].blank? && index == 0) ? 'badge-primary' : 'badge-light' %>">
              <%= link_to index + 1, review_package_test_path(@package, @test, index: index) %>
            </span>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="alert alert-warning">
        <%= t('tests.no_questions') %>
      </div>
    <% end %>
  </div>
</div>
