<div class="page-header">
  <h2><%= @package.name %></h2>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('menus.home'), root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @package.name, package_path(@package) %>
  </li>

  <li class="breadcrumb-item active">
    <%= t('packages.tests') %>
  </li>
</ol>

<%= render 'packages/menu' %>

<div class="card">
  <h4 class="card-header">
    <%= truncate @test.title %>
  </h4>
  <div class="card-body">
    <p class="card-text">
      <%= raw @test.description %>
    </p>
    <p>
      <span class="badge badge-info">
        <% if @test.dynamic? %>
          <%= t('tests.number_of_questions') %>: <%= @test.questions_count %>
        <% else %>
          <%= t('tests.number_of_questions') %>: <%= @test.questions.count %>
        <% end %>
      </span>
      <% if @test.time_limit_in_mins.present? %>
        <span class="badge badge-warning">
          <%= t('tests.time_limit') %>: <%= @test.time_limit_in_mins %> <%= t('tests.mins') %>
        </span>
      <% end %>
      <% if @test.positive_marks != 1 %>
        <span class="badge badge-success">
          <%= t('tests.correct_score') %>: <%= @test.positive_marks %>
        </span>
      <% end %>
      <% if @test.negative_marks != 0 %>
        <span class="badge badge-danger">
          <%= t('tests.incorrect_score') %>: -<%= @test.negative_marks %>
        </span>
      <% end %>
    </p>
    <%= link_to t('tests.start'), start_package_test_path(@package, @test), class: 'btn btn-primary', method: :put, data: { confirm: t('messages.confirm') } %>
  </div>
</div>
