<footer class="footer">
  <div class="container">
    <span class="float-right">
      <%= link_to t('menus.home'), root_path %> /
      <%= link_to t('menus.blog'), blog_path %> /
      <%= link_to t('menus.about'), about_path %> /
      <%= link_to t('menus.privacy'), privacy_path %> /
      <%= link_to t('menus.terms'), terms_path %>
    </span>
  </div>
</footer>
