<nav class="navbar navbar-expand-md navbar-dark mt-2" id="top-nav">
  <%= link_to image_tag('logo.png', id: 'logo'), root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#top-menu" aria-controls="top-menu"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="top-menu">
    <%= form_tag packages_path, method: :get, class: 'form-inline' do %>
      <%= text_field_tag 'q', params[:q], class: 'form-control mr-sm-2', placeholder: t('admin.packages.search') %>
      <%= submit_tag t('actions.search'), class: 'btn btn-primary' %>
    <% end %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item <%= 'active' if menu_active?('home') %>">
        <%= link_to t('menus.home'), root_path, class: 'nav-link' %>
      </li>
      <% if logged_in? %>
        <% if admin? %>
          <li class="nav-item <%= 'active' if menu_active?('questions') %>">
            <%= link_to t('admin.menus.questions'), admin_questions_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if menu_active?('users') %>">
            <%= link_to t('admin.menus.users'), admin_users_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item <%= 'active' if menu_active?('my-packages') %>">
          <%= link_to t('menus.my_packages'), packages_path(my: true), class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if menu_active?('account') %>">
          <%= link_to t('menus.profile'), edit_user_path(current_user), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('menus.logout'), logout_path, class: 'nav-link', method: :delete %>
        </li>
      <% else %>
        <li class="nav-item <%= 'active' if menu_active?('register') %>">
          <%= link_to t('menus.register'), register_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if menu_active?('login') %>">
          <%= link_to t('menus.login'), login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
