<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %>
    </title>
    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>">
    <% else %>
      <meta name="description" content="<%= t('meta_description') %>">
    <% end %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showMathMenu: false,
        tex2jax: {
          inlineMath: [ ['$','$'], ['\\(','\\)'] ],
          processEscapes: true,
          ignoreClass: 'fr-box'
        }
      });
    </script>
    <%= mathjax_tag %>
    <link rel="stylesheet" href="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
    <script src="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script> ZiggeoApi.token = '<%= ENV['ZIGGEO_KEY'] %>';</script>
    <script> ZiggeoApi.Config.cdn = true;</script>
    <script> ZiggeoApi.Config.webrtc = true;</script>
    <link rel="stylesheet" href="https://assets-cdn.ziggeo.com/v2-stable/ziggeo.css" />
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <div class="p-4 mb-2" id="content">
        <%= flash_messages %>
        <%= yield %>
        <div class="clearfix"></div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161273165-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-161273165-1');
      </script>
    <% end %>
  </body>
</html>
