<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %>
    </title>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <script type="text/javascript" src="<%= root_url %>/mathjax/MathJax.js?config=TeX-AMS_HTML-full.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showMathMenu: false,
        tex2jax: {
          inlineMath: [ ['\\(','\\)'] ],
          processEscapes: true,
          ignoreClass: 'fr-box'
        }
      });
    </script>
  </head>
  <body onload="number_pages()">
    <div class="container">
      <%= yield %>
    </div>
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161273165-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-161273165-1');
      </script>
    <% end %>
  </body>
</html>
