<!DOCTYPE html>
<html>
<head>
  <title>
    <%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %>
  </title>
  <% if @meta_description.present? %>
    <meta name="description" content="<%= @meta_description %>">
  <% else %>
    <meta name="description" content="<%= t('meta_description') %>">
  <% end %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <%= javascript_include_tag 'presentation', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'presentation', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.png' %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showMathMenu: false,
      tex2jax: {
        inlineMath: [ ['$','$'], ['\\(','\\)'] ],
        processEscapes: true,
        ignoreClass: 'fr-box'
      }
    });
  </script>
  <%= mathjax_tag %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161273165-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161273165-1');
    </script>
  <% end %>
</body>
</html>
